// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower


/* COLORS */
$black: #111;
$med-gray: #c1c1c1;
$green: green;
$red: red;
$base-color: #2179b7;
$lightblue: tint( $base-color, 50% );

$page-width: 970px;

@mixin category-checkbox {
    @include size(15px 15px);
    margin: 0.2em calc(100% - 15px) 0.2em calc(100% - 15px);
    float: left;
}

@mixin assignee-1 {
  background: $green;
}

@mixin assignee-2 {
  background: $red;
}


@mixin standard-border {
  border: solid 1px #999;
}

@mixin thick-border {
  border: solid 1px #999;
}

@mixin vertical-text {
	transform: rotate(270deg);
	transform-origin: bottom right;
  float: left;
}

@mixin dragon-hyperlink {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  cursor: pointer;
  transition: 0.4s ease;
}

@mixin small-bold {
  font-size: 0.9em;
  font-weight: bold;
}

@mixin checked-off {
  background: url(../images/check.svg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin checked-category-row {
  // background-color: $lightblue;
  font-weight: bold;
}

@mixin nav-button($direction) {
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: $direction;
  width: 40%;
  border: none;
  font-weight: bold;
}


@mixin centerer( $height, $width ) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: $height;
  width: $width;
}




@import 'core';




header {
  @include outer-container;
  @include standard-border;
  position: fixed;
  z-index: 1000;
  max-width: $page-width;
  width: $page-width;
  top: 0;
  left: 50%;
  margin-left: -$page-width/2;
  div#header {
    .logo-icf {
      padding-right: 10px;
    }
  }
}

section.main-wrapper {
  @include outer-container;
  max-width: $page-width;
  margin-top: 100px;
  a {
    @include dragon-hyperlink;
  }
  nav.task-nav {
    @include span-columns(12);
    @include thick-border;
    width: $page-width;
    position: fixed;
    &.subpage {
      border-bottom: none;
    }
    padding: 10px;
    margin-bottom: 15px;
    section.task-track {
      @include span-columns(5 of 12);
      span.label {
        @include span-columns(0.5 of 5);
        @include small-bold;
      }
      span.progress-bar{
        @include span-columns(2.75 of 5);
        @include omega;
        height: 15px;
        @include thick-border;
        span.completed {
          display: inherit;
          background: $med-gray;
          height: 100%;
        }
      }
      span.progress-stats {
        @include span-columns(1.75 of 5);
        @include small-bold;
        padding-left: 5px;
      }
    }
    section.task-links {
      @include span-columns(5 of 12);
      ul > li {
        list-style: none;
        padding: 0 15px;
        float: left;
      }
    }
    section.task-nav-buttons {
      @include span-columns(2 of 12);
      @include omega;
      button {
        cursor: pointer;
        &.prev {
          background: url(../images/chevron-left.svg);
          @include nav-button(0%);
        }
        &.next {
          background: url(../images/chevron-right.svg);
          @include nav-button(100%);
        }
      }
    }
  }

  section.subpage {
    display: none;
    height: calc(100% - 150px);
    padding: 15px 15px 15px 15px;
    @include thick-border;
    border-top: none;
    h2 {
      font-size: 1.6em;
      font-weight: bold;
      float: left;
      margin-bottom: 15px;
    }
    p {
      clear: left;
      padding-bottom: 10px;
    }
  }

section.article {

    position: fixed;
    top: 150px;
    width: $page-width;


  article {


    max-height: 500px;
overflow: scroll;
    padding: 5px 25px;
    @include thick-border;
    @include span-columns(8);
    h1 {
      font-size: 1.0em;
      font-weight: bold;
      letter-spacing: 0.02em;
      padding: 10px 10px 10px 0;
      line-height: 1.2em;
      font-family: Vollkorn;
      font-size: 1.5em
    }
    h2 {
      @include small-bold;
    }
    p {
      clear: left;
      line-height: 1.5em;
      padding: 0 0 15px 0;
      font-family: Vollkorn;
      font-size: 1.2em;
    }
    .citation p {
        padding: 0;
    }
  }
  aside {
    @include span-columns(4);
    @include thick-border;
    @include pad;
    background: #eaeaea;
    section.category-table {
      @include span-columns(4 of 4);
      header {
        @include shift (3.0);
        @include span-columns (1.0 of 4);
        text-align: right;
        margin-top: 10px;
        margin-bottom: 5px;
        @include small-bold;
        .qa & {
          @include shift (2.7);
          @include span-columns (1.3 of 4);
          text-align: initial;
          min-height: 35px;
          h3 {
            @include vertical-text;
            width: 22px; // not ideal solution
          }
        }
        @include omega;
      }
      div.category-row {
        @include span-columns(4 of 4);
        @include omega;
        border: 1px dashed;
        padding: 0 0.3em;
        &:last-of-type {
          margin-bottom: 15px;
        }
        &.selected {
          @include checked-category-row;
        }
        span.category, label.category {
          @include span-columns (2.7 of 4);

          font-size: 0.9em;
          cursor: pointer;
          padding-top: 0.3em;
          &.child {
            @include shift (0.7);
            @include span-columns (2 of 4);
          }
        }
        span.assignees {
          @include span-columns (1.3 of 4);
          @incude omega;
          input[type=checkbox] {
            -webkit-appearance: inherit;
            @include category-checkbox;
            @include standard-border;
            &:checked {
              @include checked-off;
            }
          }
          .qa & {
            input[type=checkbox] {
              margin: 0.2em 0 0.2em 4px;
            }
            span.checkoff {
              @include category-checkbox;
              margin: 0.2em 4px 0.2em 4px;
              @include thick-border;
              &.assignee-1 {
                @include assignee-1;
              }
              &.assignee-2 {
                @include assignee-2;
              }
            }
          }
        }
      }
      textarea.explanation {
        @include span-columns (4 of 4);
        @include standard-border;
        min-height: 70px;
        resize: vertical;
        background: #fafafa;
        padding: 5px;
      }
    }
  }
}
}


h2 {
  font-size: 1.2em;
  float: left;
}
h2+a {
  float: right;
}


/* MODALS */

.modal {
  display: none;
  opacity: 0;
  @include thick-border;
  padding: 15px 3px 15px 15px; // add padding-right 12px to content to account for scrolling
  background: white;
  transition: opacity 0.2s linear;
  &.active {
    opacity: 1;
  }
  header {
    position: fixed;
    width: 100%;
    height: 40px;
    padding: 0 25px 0 0;
    h2 {
      font-size: 1.6em;
      font-weight: bold;
      float: left;
    }
    a {
      @include dragon-hyperlink;
    }
  }
  .content {
    position: relative;
    top: 40px;
    height: calc(100% - 40px);
    padding-right: 12px;
    overflow: scroll;
    cursor: scrollall;
  }

  &#category-descriptions {
    @include centerer ( 400px, 700px );
    .category {
      clear: left;
      padding: 8px 0;
      .title {
      }
      .description {
        padding-left: 20px;
      }
      .category {
        padding-left: 20px;
      }
    }
  }

  &#highlights {
    @include centerer ( 400px, 700px );
    .highlight {
      @include outer-container;
      margin-bottom: 10px;
      .term {
        @include span-columns(10);
      }
      .color {
        @include span-columns(2);
        text-align:right;
      }
    }
  }

}







.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
