// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower


/* COLORS */
$black: #111;



@mixin standard-border {
  border: solid 1px #111;
}

@mixin vertical-text {
	transform: rotate(270deg);
	transform-origin: left top 0;
  float: left;
}


@import 'core';



body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

header.main {
  @include outer-container;
  @include standard-border;
}

section.main-wrapper {
  @include outer-container;
  nav.task-nav {
    @include span-columns(12);
    @include standard-border;
    section.task-track {
      @include span-columns(5 of 12);
      span.label {
        @include span-columns(0.75 of 5);
      }
      span.progress-bar{
        @include span-columns(2.5 of 5);
        height: 25px;
        @include standard-border;
        span.completed {
          display: inherit;
          background: blue;
        }
      }
      span.progress-stats {
        @include span-columns(1.5 of 5);
      }
    }
    section.task-links {
      @include span-columns(5 of 12);
      ul > li {
        list-style: none;
        padding: 0 15px;
        float: left;
        a {
          text-decoration: underline;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  article {
    @include span-columns(9);
    @include standard-border;
    p {
      clear: left;
    }
  }
  aside {
    @include span-columns(3);
    @include standard-border;
    section.category-table {
      @include span-columns(3 of 3);
      header {
        @include shift (2);
        @include span-columns (1 of 3);
        h3 {
          @include vertical-text;
          width: 33%;
        }
      }
      span.category {
        @include span-columns (2 of 3);
      }
      span.assignees {
        @include span-columns (1 of 3);
      }
    }
  }
}


h2 {
  font-size: 1.2em;
  float: left;
}
h2+a {
  float: right;
}





.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
