// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower


/* COLORS */
$black: #111;
$med-gray: #c1c1c1;
$green: green;
$red: red;


@mixin category-checkbox {
    @include size(15px 15px);
    margin: 0 4px 4px 4px;
    float: left;
}

@mixin assignee-1 {
  background: $green;
}

@mixin assignee-2 {
  background: $red;
}


@mixin standard-border {
  border: solid 1px #111;
}

@mixin thick-border {
  border: solid 3px #111;
}

@mixin vertical-text {
	transform: rotate(270deg);
	transform-origin: bottom right;
  float: left;
}

@mixin dragon-hyperlink {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  cursor: pointer;
  transition: 0.4s ease;
}

@mixin small-bold {
  font-size: 0.9em;
  font-weight: bold;
}

@mixin checked-off {
  background: url(../images/check.svg);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}


@import 'core';




header.main {
  @include outer-container;
  @include standard-border;
}

section.main-wrapper {
  @include outer-container;
  max-width: 970px;
  a {
    @include dragon-hyperlink;
  }
  nav.task-nav {
    @include span-columns(12);
    @include thick-border;
    padding: 10px;
    margin-bottom: 15px;
    section.task-track {
      @include span-columns(5 of 12);
      span.label {
        @include span-columns(0.5 of 5);
        @include small-bold;
      }
      span.progress-bar{
        @include span-columns(2.75 of 5);
        height: 15px;
        @include thick-border;
        span.completed {
          display: inherit;
          background: $med-gray;
          height: 100%;
        }
      }
      span.progress-stats {
        @include span-columns(1.75 of 5);
        @include omega;
        @include small-bold;
      }
    }
    section.task-links {
      @include span-columns(5 of 12);
      ul > li {
        list-style: none;
        padding: 0 15px;
        float: left;
      }
    }
  }
  article {
    @include span-columns(8);
    h1 {
      font-size: 1.0em;
      font-weight: bold;
      letter-spacing: 0.02em;
      padding: 10px 10px 10px 0;
      line-height: 1.2em;
    }
    h2 {
      @include small-bold;
    }
    p {
      clear: left;
      line-height: 1.1em;
      padding: 0 0 15px 0;
    }
    .citation p {
        padding: 0;
    }
  }
  aside {
    @include span-columns(4);
    @include thick-border;
    @include pad;
    section.category-table {
      @include span-columns(4 of 4);
      header {
        @include shift (2.7);
        @include span-columns (1.3 of 4);
        @include omega;
        min-height: 50px;
        h3 {
          @include vertical-text;
          width: 33%;
        }
      }
      div.category-row {
        @include span-columns(4 of 4);
        @include omega;
        &:last-of-type {
          margin-bottom: 15px;
        }
        span.category {
          @include span-columns (2.7 of 4);
          &.child {
            @include shift (0.7);
            @include span-columns (2 of 4);
          }
        }
        span.assignees {
          @include span-columns (1.3 of 4);
          @incude omega;
          input[type=checkbox] {
            -webkit-appearance: inherit;
            @include category-checkbox;
            @include standard-border;
            &:checked {
              @include checked-off;
            }
          }
          span.checkoff {
            @include category-checkbox;
            @include thick-border;
            &.assignee-1 {
              @include assignee-1;
            }
            &.assignee-2 {
              @include assignee-2;
            }
          }
        }
      }
      textarea.explanation {
        @include span-columns (4 of 4);
        @include standard-border;
        min-height: 70px;
      }
    }
  }
}


h2 {
  font-size: 1.2em;
  float: left;
}
h2+a {
  float: right;
}





.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
